{% extends 'base.html' %}

{% block title %}Rates{% endblock title %}

{% block content %}
    <a href="{% url 'rate:download-csv' %}">Download rates - csv</a>
    <a href="{% url 'rate:download-xlsx' %}">Download rates - xlsx</a>
    <table class="table table-striped table-dark" >
      <thead>
        <tr bgcolor="#008000" >
            <th>#</th>
            <th>id</th>
            <th>Дата создания </th>
            <th>Курс</th>
            <th>Источник</th>
            <th>Валюта</th>
            <th>Продажа/покупка</th>
             {% if request.user.is_superuser %}
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
            {% endif %}
        </tr>
      </thead>

    <th ></th>

      <tbody>
       {% for rate in object_list %}
      <tr >
          <th scope="row">{{ forloop.counter }}</th>
            <td>{{ rate.id }}</td>
            <td>{{ rate.created }}</td>
            <td>{{ rate.amount }}</td>
            <td>{{ rate.get_source_display }}</td>
            <td>{{ rate.get_currency_type_display }}</td>
            <td>{{ rate.get_type_display }}</td>

            {% if request.user.is_superuser %}
            <td><a href="{% url 'rate:update' rate.pk %}">Update</a></td>
            <td><a href="{% url 'rate:delete' rate.pk %}">Delete</a></td>
            {% endif %}

            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}


