<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item {% if request.path == '/rate/list/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'rate:list' %}">Rates</a>
            </li>
            <li class="nav-item {% if request.path == '/rate/latest-rate/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'rate:latest-rate' %}">Rate-laters</a>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>

</nav>


<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Download rates
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{% url 'rate:download-csv' %}" class="dropdown">Download rates - csv</a>
    <a class="dropdown-item" href="{% url 'rate:download-xlsx' %}">Download rates - xlsx</a>
  </div>
</div>