
{% block title %}Page not found{% endblock title %}

{% block content %}
<html>
<head>
<title >Ошибка 404</title>
</head>
<body>
<p>К сожалению, запрашиваемая Вами страница не найдена..</p>
<p>Почему?</p>
<ol>
<li>Ссылка, по которой Вы пришли, неверна.
<li>Вы неправильно указали путь или название страницы.
<li>Страница была удалёна со времени Вашего последнего посещения.
</ol>
<p>..или перейти на:</p>
<ul>
<li><a href="/">Главную страницу сайта.</a>

</ul>
</body>
</html>
{% endblock content %}


